<!doctype html>
<head>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='main.css') }}">
</head>
<h2>Choose a file to clean (csv and xlsx files only)</h2>
<form action = "http://localhost:5000/clean" method = "POST" 
enctype = "multipart/form-data">
  
    <input type="file" name="file" accept=".csv,.xlsx" required>

    <p>Drop all Null Values?</p>

    <input type="radio"  id="drop" name="nullValues" value="True" required>
    <label for="drop">Yes</label><br>

    <input type="radio" id="zero" name="nullValues" value="False">
    <label for="zero">No</label><br>

    <label>For more info on dropping null values check out https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.dropna.html</label>

    <p> Select Interpolation Type</p>

    <input type="radio" id="linear" name="interpolation" value="linear" required>
    <label for="linear"> Linear Interpolation </label><br>

    <input type="radio" id="polynomial" name="interpolation" value="polynomial">
    <label for="polynomial"> Polynomial Interpolation </label><br>

    <input type="radio" id="spline" name="interpolation" value="spline">
    <label for="spline"> Spline Interpolation </label><br>

    <label>For more info on interpolation check out https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.interpolate.html</label><br>
    <button type='submit' class='submit'> Clean </button>

  <h3>Need a project idea: Build a better data cleaner!</h3>
</form>
